
body {
width: 100%;
height: 100%;
background-color: #BEE5FA;
}

#custom-nav{
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
}

#custom-nav-heading{
  font-family: 'Courier New', Courier, monospace;
  font-size: 50px;
}

.main-container {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  padding-top: 30px;
  padding-left: 50px;
  padding-right: 50px;

}
.main-title {
  font-family: fantasy;
  font-size: 50px;
  color: #500C8F;

}
.main-subheading{
  font-family: fantasy;
  font-size: 20px;

  color: #5406bF;
}

.carousel-container{
  display: flex;
  justify-content: center;
  flex: 1;
  flex-direction: column;
  align-items: center;
  width:100%
}

.carousel-image {
  width: 100%;
  height: 100%;
}

.insta-logo{
  width:50px;
  height: 50px;
  padding: 5px;
  float: right;
}

@media only screen
    and (device-width : 375px)
    and (device-height : 812px)
    and (-webkit-device-pixel-ratio : 3) {

      .insta-mobile{
        display: flex;
        justify-content: center;
      }

      .insta-logo{
        width:50px;
        height: 50px;
        padding: 5px;
        justify-content: center;
      }
    }

#custom-row {
  justify-content: center;
}

#column-styles {
  display: flex;
  justify-content: center;
}

#menu-custom-text{
  color: #5406BF;
  font-family: fantasy;
  font-size: 30px;
}

#image-column-styles{
  display: flex;
  justify-content: center;

}

.image-link{
  height: 200px;
  width: 200px;
  padding-top: 10px;
}

.col{
  display: flex;
  justify-content: center;
  text-align: center;
}
